<style>
    .username {
        font-family: monospace;
        font-size: 1em;
        font-weight: normal;
        place-self: center;
        padding: 1px 3px;
        background-color: #f5f5f5;
        box-shadow: 0 0 2px #000000;
    }

    .eintrag p {
        font-size: .8em;
        font-weight: normal;
        margin: 0;
        margin-bottom: 4px;
        width: 100%;
    }

    .kommSection {
        padding-left: 1em;
        border-left: #666666 solid 1.3px;
    }
</style>
<div class="eintrag">
    <div class="" layout="row" layout-align="space-between center">
        <div class="username" ng-bind="$ctrl.eintrag.username"></div>
        <div ng-bind="$ctrl.eintrag.date.toLocaleDateString() + ' ' + $ctrl.eintrag.date.toLocaleTimeString()"></div>
        <div>
            <md-button class="md-icon-button"
                       ng-click="$ctrl.eintrag.setAddKomm()">
                <md-icon>comment</md-icon>
            </md-button>
            <!--<md-button class="md-icon-button"
                       ng-click="$ctrl.deleteSelf($crl.eintrag)">
                <md-icon>cancel</md-icon>
            </md-button>-->
        </div>
    </div>
    <p ng-bind="$ctrl.eintrag.text"></p>
    <addkommentar ng-show="$ctrl.eintrag.addkomm"
                  on-add-kommtentar="$ctrl.valAddKomm(user, text)">
    </addkommentar>
    <div class="kommSection">
        <ng-transclude></ng-transclude>
        <blogkommentar ng-repeat="$e in $ctrl.eintrag.kommentare"
                       eintrag="$e"
                       on-change="$ctrl.onChange()"
                       delete-self="$ctrl.del(object)">
        </blogkommentar>
    </div>
</div>
