<style>

</style>
<div layout-padding>
    <md-card layout-padding class="md-whiteframe-4dp">
        <h1 ng-bind="$ctrl.eintrag.username"></h1>
        <div layout="row" layout-align="space-between center">
            <p ng-bind="$ctrl.eintrag.text"></p>
            <md-button class="md-icon-button"
                       ng-click="$ctrl.eintrag.setAddKomm()">
                <md-icon>comment</md-icon>
            </md-button>
        </div>
        <addkommentar ng-show="$ctrl.eintrag.addkomm"
                      on-add-kommtentar="$ctrl.valAddKomm(user, text)">
        </addkommentar>
    </md-card>
    <md-card id="kommentar-section" layout-padding class="md-whiteframe-4dp" ng-show="$ctrl.eintrag.kommentare.length">
        <blogkommentar ng-repeat="$e in $ctrl.eintrag.kommentare"
                       eintrag="$e"
                       on-change="$ctrl.safeToLocal()">
        </blogkommentar>
    </md-card>
</div>
