<div layout-padding>
    <md-card layout-padding class="md-whiteframe-4dp">
        <h1 ng-bind="$ctrl.eintrag.username"></h1>
        <div ng-bind="$ctrl.eintrag.date.toLocaleDateString() + ' ' + $ctrl.eintrag.date.toLocaleTimeString()"></div>
        <div layout="row" layout-align="space-between center">
            <p ng-bind="$ctrl.eintrag.text"></p>
            <div layout="row">
                <md-button class="md-icon-button md-raised md-primary"
                           ng-click="$ctrl.deleteBlog()">
                    <md-icon>remove</md-icon>
                </md-button>
                <md-button class="md-icon-button md-raised md-primary"
                           ng-click="$ctrl.eintrag.setAddKomm()">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
        <addkommentar ng-show="$ctrl.eintrag.addkomm"
                      on-add-kommtentar="$ctrl.valAddKomm(user, text)">
        </addkommentar>
    </md-card>
    <md-card id="kommentar-section" layout-padding class="md-whiteframe-4dp" ng-show="$ctrl.eintrag.kommentare.length">
        <blogkommentar ng-repeat="$e in $ctrl.eintrag.kommentare"
                       eintrag="$e"
                       on-change="$ctrl.safeToLocal()">
        </blogkommentar>
    </md-card>
</div>
